---
const nombre = 'Alejandro Jesús Ortiz Zamora';
const profesion = 'Estudiante de Ingeniería del Software';
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome!</title>
  </head>
  <body>
    <main class="container">
      <div class="tarjeta">
		<div class="avatar-container">
          <img src=src/profile.png alt={`Foto de ${nombre}`} class="avatar" />
        </div>
        <h1>{nombre}</h1>
        <p>{profesion}</p>
		<h2>>sudo pacman -S alejandro-web</h2>
		<div class="resumen">
          <p>
            Apasionado por el desarrollo de software, los sistemas y el despliegue autohospedado. 
            Me enfoco en crear soluciones eficientes tanto en el frontend como gestionando mis propios entornos y servidores domésticos.
          </p>
        </div>
      </div>
    </main>
  </body>
</html>

<style is:global>
  body {
    background-color: #0f172a;
    margin: 0;
    font-family: system-ui, -apple-system, sans-serif;
    color: #f8fafc;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: stretch; 
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
  }
  .tarjeta {
    background-color: #1e293b;
    padding: 3rem;
    border-radius: 0; 
    text-align: center;
    border-right: 1px solid #334155;
    border-left: 1px solid #334155;
    border-top: none;
    border-bottom: none;
    
    max-width: 500px; 
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
  }
  h1 {
    margin: 0 0 0.5rem 0;
    font-size: 2.5rem;
    color: #60a5fa;
  }
  p {
    margin: 0;
    color: #94a3b8;
    font-size: 1.2rem;
  }

  h2 {
	font-family: 'JetBrains Mono', 'Fira Code', 'Courier New', monospace;
    background-color: #090d16; 
    color: #4ade80; 
    padding: 1rem 1rem;
    border-radius: 6px;
    font-size: 1.1rem;
    font-weight: 500;
    display: inline-block;
    margin-top: 1.5rem;
    border: 1px solid #1e293b;
    letter-spacing: 0.05em;
  }
  .avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #1e293b;
    background-color: #090d16;
  }
</style>