---
const nombre = 'Alejandro'
const profesion = 'Estudiante de INgeniería del Software'
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>Tarjeta de Presentación</title>
  </head>
  <body>
    <main class="tarjeta">
      <h1>Hola, soy {nombre}</h1>
      <p>{profesion}</p>
    </main>
  </body>
</html>

<style>
  .tarjeta {
    background: #1a1a1a;
    color: white;
    padding: 3rem;
    border-radius: 8px;
  }
</style>